Repository hadenlabs/pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-link-check, eslint, stylint, checkov, terraform-fmt, terraform-docs, terraform-docs-without-aggregate-type-defaults, terraform-docs-replace, terraform-validate, terraform-tflint, terraform-tfsec, terragrunt-fmt, terragrunt-validate, go-fmt, go-imports, go-vet, golint, gocyclo, validate-toml, no-go-testing, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor, hadolint, docker-compose-check

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  markdown-link-check: any of: \.md$, but not: (?x)^(
  .+\.tpl.md$|
  .+\.cache\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
  checkov: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-fmt: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-without-aggregate-type-defaults: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-replace: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-validate: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tflint: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tfsec: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terragrunt-fmt: any of: (\.hcl)$, but not: \.terraform\/.*$
  terragrunt-validate: any of: (\.hcl)$, but not: (?x)^(
  .+\.tflint.hcl$|
  .+\vendor\/.*$|
  .+\.terraform\/.*$|
)$

  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  golint: any of: \.go$
  gocyclo: any of: \.go$
  validate-toml: any of: \.toml$
  no-go-testing: any of: test_.*\.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-mod-tidy: any of: \.go$, but not: (?x)^(
  .+\.terraform\/.*$|
)$

  go-mod-vendor: any of: \.go$, but not: (?x)^(
  .+\.terraform\/.*$|
)$

  hadolint: any of: Dockerfile(.*)
  docker-compose-check: any of: docker-compose.y[a]{0,1}ml$

ci: upgrade github actions lint
  .github/workflows/lint.yml
Due: prettier

ci: upgrade github actions confluence
  .github/workflows/confluence.yml
Due: prettier

ci: upgrade github actions sonarqube
  .github/workflows/sonarqube.yml
Due: prettier

Delete .github/workflows/sonarqube.yml
  .github/workflows/sonarqube.yml
Due: prettier

Delete .github/workflows/confluence.yml
  .github/workflows/confluence.yml
Due: prettier

ci: upgrade github actions sonarqube content
  .github/workflows/sonarqube.yml
Due: prettier

refactor: change linters to ci path (#80)
  .ci/linters/.commitlintrc.json
  .ci/linters/.eslintignore
  .ci/linters/.eslintrc.js
  .ci/linters/.gitleaks.toml
  .ci/linters/.golangci.yml
  .ci/linters/.hadolint.yaml
  .ci/linters/.lintstagedrc.js
  .ci/linters/.prettierignore
  .ci/linters/.pylintrc
  .ci/linters/.stylintrc
  .ci/linters/.tflint.hcl
  .ci/linters/.yamllint
  .ci/linters/checkov.yml
  .ci/linters/markdown-link-config.json
  .ci/linters/prettier.config.js
  .editorconfig
  .env.example
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_question.md
  .github/stale.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Taskfile.yml
Due: prettier, markdown-link-check, eslint, terragrunt-fmt, validate-toml

refactor: task actions (#80)
  provision/task/confluence.yml
  provision/task/docker.yml
  provision/task/go.yml
  provision/task/prettier.yml
  provision/task/python.yml
Due: prettier

chore: implement configuration confluence projects (#80)
  .github/ISSUE_TEMPLATE.md
  SECURITY.md
  docs/authors.md
  docs/code_of_conduct.md
  docs/commands.md
  docs/components.md
  docs/contribute/git-flow.md
  docs/contributing.md
  docs/env-vars.md
  docs/examples/common.md
  docs/releasing.md
  docs/roadmap.md
  docs/usage.md
  mkdocs.yml
  setup.cfg
  sonar-project.properties
Due: prettier, markdown-link-check

feat: change path linters to ci (#80)
  Pipfile
  examples/basic/.pre-commit-config.yaml
  provision/generators/README.yaml
  provision/git/hooks/prepare-commit-msg
Due: prettier

build: generate files (#80)
  .gitignore
  README.md
Due: prettier, markdown-link-check

fix 🐛 (core): disabled prepare-commit msg (#85)
  .pre-commit-config.yaml
  provision/git/hooks/prepare-commit-msg
Due: prettier

feat ✨ (hooks): implement block files (#85)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  docs/examples/common.md
  pre_commit_hooks/block-files/block-files.sh
Due: prettier, markdown-link-check

docs 📚 (core): implement block files (#85)
  README.md
  Taskfile.yml
Due: prettier, markdown-link-check

build 🛠 (release): generate version 0.5.0
  .chglog/config.yml
  CHANGELOG.md
  README.md
  docs/examples/common.md
  docs/usage.md
  internal/version/version.go
  pyproject.toml
  sonar-project.properties
  uv.lock
Due: prettier, markdown-link-check, go-fmt, go-imports, go-vet, golint, gocyclo, validate-toml, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor
