Repository hadenlabs/pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-link-check, eslint, stylint, checkov, terraform-fmt, terraform-docs, terraform-docs-without-aggregate-type-defaults, terraform-docs-replace, terraform-validate, terraform-tflint, terraform-tfsec, terragrunt-fmt, terragrunt-validate, go-fmt, go-imports, go-vet, golint, gocyclo, validate-toml, no-go-testing, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor, hadolint, docker-compose-check

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  markdown-link-check: any of: \.md$, but not: (?x)^(
  .+\.tpl.md$|
  .+\.cache\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
  checkov: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-fmt: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-without-aggregate-type-defaults: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-replace: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-validate: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tflint: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tfsec: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terragrunt-fmt: any of: (\.hcl)$, but not: \.terraform\/.*$
  terragrunt-validate: any of: (\.hcl)$, but not: (?x)^(
  .+\.tflint.hcl$|
  .+\vendor\/.*$|
  .+\.terraform\/.*$|
)$

  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  golint: any of: \.go$
  gocyclo: any of: \.go$
  validate-toml: any of: \.toml$
  no-go-testing: any of: test_.*\.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-mod-tidy: any of: \.go$, but not: (?x)^(
  .+\.terraform\/.*$|
)$

  go-mod-vendor: any of: \.go$, but not: (?x)^(
  .+\.terraform\/.*$|
)$

  hadolint: any of: Dockerfile(.*)
  docker-compose-check: any of: docker-compose.y[a]{0,1}ml$

refactor: configuration github actions (#60)
  .github/workflows/dockerhub-cd.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: prettier

refactor: change sh prepare commit (#62)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pre_commit_hooks/git/hooks/prepare-commit-msg.sh
  provision/make/python.mk
Due: prettier

fix: change system to script (#62)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: prettier

chore: implement package path full (#62)
  pre_commit_hooks/git/hooks/prepare-commit-msg.sh
Due: none

refactor: github actions validation code (#65)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

fix: badge ci for readme (#65)
  provision/generators/README.yaml
Due: prettier

build: generate readme (#65)
  README.md
Due: prettier, markdown-link-check

chore: implement configuration hadolint (#67)
  .github/linters/.hadolint.yaml
  .pre-commit-config.yaml
  pre_commit_hooks/docker/hadolint.sh
Due: prettier

fix: load hadolint configuration (#67)
  pre_commit_hooks/docker/hadolint.sh
Due: none

fix: validation hadolint rules (#65)
  Dockerfile
Due: hadolint

chore: implement lint pattern compare markdown (#65)
  .github/linters/.gitleaks.toml
  .github/linters/markdown-link-config.json
  .github/semantic.yml
Due: prettier, validate-toml

feat: change version python (#65)
  Pipfile
Due: none

chore: implement configuration authors (#65)
  .mailmap
Due: none

fix: generate build docker file ignored quotes for docker file (#65)
  .github/linters/.hadolint.yaml
  Dockerfile
Due: prettier, hadolint

ci: generate version project (0.4.0)
  docs/examples/common.md
  internal/version/version.go
  provision/generators/README.yaml
  setup.cfg
Due: prettier, markdown-link-check, go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

build: generate files (0.4.0)
  CHANGELOG.md
  README.md
Due: prettier, markdown-link-check
