Repository hadenlabs/pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-link-check, eslint, stylint, checkov, terraform-fmt, terraform-docs, terraform-docs-without-aggregate-type-defaults, terraform-docs-replace, terraform-validate, terraform-tflint, terraform-tfsec, terragrunt-fmt, terragrunt-validate, go-fmt, go-imports, go-vet, golint, gocyclo, validate-toml, no-go-testing, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor, hadolint, docker-compose-check

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

markdown-link-check:
  name: markdown-link-check
  description: Markdown-link-check checks all of the hyperlinks in a markdown text to determine if they are alive or dead.
  entry: pre_commit_hooks/markdown/markdown-link-check.sh
  language: script
  args:
  - --config=.github/linters/markdown-link-config.json
  ...

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

stylint:
  name: stylint
  language: system
  pass_filenames: true
  entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
  args:
  - --fix

checkov:
  name: Checkov
  description: Runs checkov on Terraform templates.
  entry: pre_commit_hooks/terraform/checkov.sh
  language: script
  pass_filenames: true
  require_serial: true
  always_run: false
  minimum_pre_commit_version: 0.15.0

terraform-fmt:
  name: Terraform fmt
  description: Rewrites all Terraform configuration files to a canonical format.
  entry: pre_commit_hooks/terraform/terraform_fmt.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs:
  name: Terraform docs
  description: Inserts input and output documentation into README.md (using terraform-docs).
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs-without-aggregate-type-defaults:
  name: Terraform docs (without aggregate type defaults)
  description: Inserts input and output documentation into README.md (using terraform-docs). Identical to terraform_docs.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs-replace:
  name: Terraform docs (overwrite README.md)
  description: Overwrite content of README.md with terraform-docs.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs_replace
  language: python
  minimum_pre_commit_version: 0.15.0

terraform-validate:
  name: Terraform validate
  description: Validates all Terraform configuration files.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_validate.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-tflint:
  name: Terraform validate with tflint
  description: Validates all Terraform configuration files with TFLint.
  entry: pre_commit_hooks/terraform/terraform_tflint.sh
  require_serial: true
  language: script
  minimum_pre_commit_version: 0.15.0

go-fmt:
  name: go fmt
  description: Test go files with `gofmt`
  entry: pre_commit_hooks/go/go-fmt.sh
  language: script

build: generate readme (#65)
  README.md
Due: prettier, markdown-link-check

fix: badge ci for readme (#65)
  provision/generators/README.yaml
Due: prettier

feat: change version python (#65)
  Pipfile
Due: none

fix: load hadolint configuration (#67)
  pre_commit_hooks/docker/hadolint.sh
Due: none

chore: implement branch default for git leaks (#71)
  .pre-commit-config.yaml
  pre_commit_hooks/git/gitleaks.sh
Due: prettier

build: generate files (#71)
  .gitignore
Due: none

fix: execute tfsec (#73)
  pre_commit_hooks/terraform/terraform_tfsec.sh
Due: none

refactor: change make actions to task actions (#75)
  Makefile
  Taskfile.yml
  provision/make/alias.mk
  provision/make/docs.mk
  provision/make/git.mk
  provision/make/go.mk
  provision/make/keys.mk
  provision/make/python.mk
  provision/make/tests.mk
  provision/make/yarn.mk
  provision/task/changelog.yml
  provision/task/confluence.yml
  provision/task/docker.yml
  provision/task/docs.yml
  provision/task/git.yml
  provision/task/gitflow.yml
  provision/task/go.yml
  provision/task/mark.yml
  provision/task/plantuml.yml
  provision/task/prettier.yml
  provision/task/python.yml
  provision/task/sonar.yml
  provision/task/ssh.yml
  provision/task/version.yml
  provision/task/yarn.yml
Due: prettier

docs: implement how to contributing (#75)
  docs/commands.md
  docs/components.md
  docs/contribute/git-flow.md
  docs/contributing.md
  docs/diagrams/example.png
  docs/diagrams/logo.png
  docs/disclaimer.md
  docs/env-vars.md
  docs/faq.md
  docs/releasing.md
  docs/roadmap.md
  docs/troubleshooting.md
  docs/usage.md
Due: prettier, markdown-link-check

refactor: generator readme (#75)
  provision/generators/README.yaml
  provision/templates/README.tpl.md
Due: prettier

style: format github actions (#75)
  .github/workflows/dockerhub-cd.yml
  .github/workflows/release.yml
Due: prettier

build: generate files (#75)
  CHANGELOG.md
  README.md
Due: prettier, markdown-link-check

feat: clean file mailmap (#75)
  .mailmap
Due: none

fix: load parameters gitleaks unstaged (#76)
  pre_commit_hooks/git/gitleaks.sh
Due: none

refactor: task actions (#76)
  provision/task/docker.yml
  provision/task/go.yml
  provision/task/sonar.yml
Due: prettier

fix: name project for docs (#76)
  docs/contribute/git-flow.md
  docs/contributing.md
  docs/releasing.md
  docs/roadmap.md
Due: prettier, markdown-link-check

build: generate files (#76)
  .gitignore
Due: none

fix: validate protected gitleaks (#78)
  pre_commit_hooks/git/gitleaks.sh
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  markdown-link-check: any of: \.md$, but not: (?x)^(
  .+\.tpl.md$|
  .+\.cache\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
  checkov: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-fmt: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-without-aggregate-type-defaults: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-replace: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-validate: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tflint: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tfsec: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terragrunt-fmt: any of: (\.hcl)$, but not: \.terraform\/.*$
  terragrunt-validate: any of: (\.hcl)$, but not: (?x)^(
  .+\.tflint.hcl$|
  .+\vendor\/.*$|
  .+\.terraform\/.*$|
)$

  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  golint: any of: \.go$
  gocyclo: any of: \.go$
  validate-toml: any of: \.toml$
  no-go-testing: any of: test_.*\.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-mod-tidy: any of: \.go$, but not: (?x)^(
  .+\.terraform\/.*$|
)$

  go-mod-vendor: any of: \.go$, but not: (?x)^(
  .+\.terraform\/.*$|
)$

  hadolint: any of: Dockerfile(.*)
  docker-compose-check: any of: docker-compose.y[a]{0,1}ml$
