Repository hadenlabs/pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-link-check, eslint, stylint, checkov, terraform-fmt, terraform-docs, terraform-docs-without-aggregate-type-defaults, terraform-docs-replace, terraform-validate, terraform-tflint, terraform-tfsec, terragrunt-fmt, terragrunt-validate, go-fmt, go-imports, go-vet, golint, gocyclo, validate-toml, no-go-testing, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor, hadolint, docker-compose-check

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  markdown-link-check: any of: \.md$, but not: (?x)^(
  .+\.tpl.md$|
  .+\.cache\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
  checkov: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-fmt: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-without-aggregate-type-defaults: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-replace: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-validate: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tflint: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tfsec: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terragrunt-fmt: any of: (\.hcl)$, but not: \.terraform\/.*$
  terragrunt-validate: any of: (\.hcl)$, but not: (?x)^(
  .+\.tflint.hcl$|
  .+\vendor\/.*$|
  .+\.terraform\/.*$|
)$

  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  golint: any of: \.go$
  gocyclo: any of: \.go$
  validate-toml: any of: \.toml$
  no-go-testing: any of: test_.*\.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-mod-tidy: any of: \.go$, but not: (?x)^(
  .+\.terraform\/.*$|
)$

  go-mod-vendor: any of: \.go$, but not: (?x)^(
  .+\.terraform\/.*$|
)$

  hadolint: any of: Dockerfile(.*)
  docker-compose-check: any of: docker-compose.y[a]{0,1}ml$

build: generate files (#54)
  .gitignore
  README.md
Due: prettier, markdown-link-check

fix: links missing in readme (#54)
  provision/generators/README.yaml
Due: prettier

chore: clean node and packages (#54)
  .editorconfig
  .pre-commit-config.yaml
  .tmuxinator.yml
  Makefile
  package.json
  setup.cfg
  yarn.lock
Due: prettier

fix: links missing broken (#54)
  provision/generators/README.yaml
Due: prettier

fix: validate code pre-commit (0.3.0)
  .github/workflows/lint.yml
Due: prettier

fix: version version go (0.3.0)
  internal/version/version.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

build: generate new version (0.3.0)
  docs/examples/common.md
  internal/version/version.go
  provision/generators/README.yaml
  setup.cfg
Due: prettier, markdown-link-check, go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

build: generate readme (0.3.0)
  README.md
Due: prettier, markdown-link-check

fix: parameter tty docker run validate (0.3.0)
  .github/workflows/lint.yml
Due: prettier

fix: variable prepare commit message hook git (0.3.0)
  provision/git/hooks/prepare-commit-msg
Due: none

chore: implement git submodule sync (0.3.0)
  .github/workflows/lint.yml
Due: prettier

build: delete unnecessary file nvmrc (0.3.0)
  .nvmrc
Due: none

chore: implement module install go (#57)
  Dockerfile
Due: hadolint

chore: implement golangci lint for docker (#57)
  Dockerfile
Due: hadolint

fix: version golangci-lint for docker (#57)
  Dockerfile
Due: hadolint

fix: generate image dependences go (#57)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  Dockerfile
Due: prettier, hadolint

fix: testing code (0.3.0)
  .github/workflows/test.yml
Due: prettier

feat: implement default stages commit (#57)
  .pre-commit-config.yaml
Due: prettier

fix: execution parallel golangci (#57)
  pre_commit_hooks/go/golangci-lint.sh
Due: none

feat: change test only ubuntu linux (0.3.0)
  .github/workflows/test.yml
Due: prettier

fix: matrix test ubuntu so name (#57)
  .github/workflows/test.yml
Due: prettier

build: generate files (0.3.0)
  CHANGELOG.md
Due: prettier, markdown-link-check
