Repository hadenlabs/pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-link-check, eslint, stylint, checkov, terraform-fmt, terraform-docs, terraform-docs-without-aggregate-type-defaults, terraform-docs-replace, terraform-validate, terraform-tflint, terraform-tfsec, terragrunt-fmt, terragrunt-validate, go-fmt, go-imports, go-vet, golint, gocyclo, validate-toml, no-go-testing, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor, hadolint, docker-compose-check

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

markdown-link-check:
  name: markdown-link-check
  description: Markdown-link-check checks all of the hyperlinks in a markdown text to determine if they are alive or dead.
  entry: pre_commit_hooks/markdown/markdown-link-check.sh
  language: script
  args: []
  minimum_pre_commit_version: 0.15.0

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

stylint:
  name: stylint
  language: system
  pass_filenames: true
  entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
  args:
  - --fix

checkov:
  name: Checkov
  description: Runs checkov on Terraform templates.
  entry: pre_commit_hooks/terraform/checkov.sh
  language: script
  pass_filenames: true
  require_serial: true
  always_run: false
  minimum_pre_commit_version: 0.15.0

terraform-fmt:
  name: Terraform fmt
  description: Rewrites all Terraform configuration files to a canonical format.
  entry: pre_commit_hooks/terraform/terraform_fmt.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs:
  name: Terraform docs
  description: Inserts input and output documentation into README.md (using terraform-docs).
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs-without-aggregate-type-defaults:
  name: Terraform docs (without aggregate type defaults)
  description: Inserts input and output documentation into README.md (using terraform-docs). Identical to terraform_docs.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs-replace:
  name: Terraform docs (overwrite README.md)
  description: Overwrite content of README.md with terraform-docs.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs_replace
  language: python
  minimum_pre_commit_version: 0.15.0

terraform-validate:
  name: Terraform validate
  description: Validates all Terraform configuration files.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_validate.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-tflint:
  name: Terraform validate with tflint
  description: Validates all Terraform configuration files with TFLint.
  entry: pre_commit_hooks/terraform/terraform_tflint.sh
  require_serial: true
  language: script
  minimum_pre_commit_version: 0.15.0

go-fmt:
  name: go fmt
  description: Test go files with `gofmt`
  entry: pre_commit_hooks/go/go-fmt.sh
  language: script

refactor: configuration git (#44)
  .editorconfig
  .gitattributes
Due: none

fix: configuration pre-commit (#44)
  .pre-commit-config.yaml
  provision/templates/README.tpl.md
Due: prettier, markdown-link-check

chore: implement version project (#44)
  internal/version/version.go
  internal/version/version_test.go
  setup.cfg
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

chore: implement tag (#44)
  config/config.go
  config/docker_test.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

chore: implement configuration application (#44)
  config/app.go
  config/app_test.go
  config/config.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

chore: implement gitleaks (#46)
  Dockerfile
  test/docker_precommit_hooks_test.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor, hadolint

build: upgrade versions package (#44)
  package.json
Due: prettier

fix: validation go vet and golangci (#44)
  internal/errors/errors.go
  internal/errors/errors_test.go
  pre_commit_hooks/go/go-vet.sh
  pre_commit_hooks/go/golangci-lint.sh
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

chore: implement string to error (#44)
  go.mod
  go.sum
  internal/errors/string.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

refactor: test docker hooks and exist (#44)
  pre_commit_hooks/go/golangci-lint.sh
  provision/make/keys.mk
  test/docker_precommit_hooks_exist_test.go
  test/docker_precommit_hooks_run_test.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

refactor: hooks pre-commit (#44)
  .codespell-ignores
  .nvmrc
  .pre-commit-config.yaml
Due: prettier

refactor: dependences get of build-tools (#44)
  Dockerfile
Due: hadolint

chore: implement validate configuration golangci (#44)
  .github/linters/.golangci.yml
Due: prettier

chore: implement configuration project (#44)
  config/config.go
  config/config_test.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

fix: badges project (#44)
  provision/generators/README.yaml
Due: prettier

chore: implement tag docker (#44)
  config/config.go
  config/docker.go
  config/docker_test.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

chore: implement command execute gofmt (#44)
  provision/make/go.mk
Due: none

refactor: dependences python docker (#44)
  Dockerfile
Due: hadolint

refactor: configuration github actions (#44)
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

chore: implement docker test (#44)
  config/config.go
  config/config_test.go
  config/docker.go
  config/docker_test.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor

build: generate files readme (#44)
  README.md
Due: prettier, markdown-link-check

Delete .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: prettier

Delete .github/workflows/release.yml
  .github/workflows/release.yml
Due: prettier

build: implement release code github actions
  .github/workflows/release.yml
Due: prettier

build: implement lint code github actions
  .github/workflows/lint.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  markdown-link-check: (any of: \.md$, but not: (?x)^(
  .+\.tpl.md$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$
) or (any of: \.md$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$
)
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
  checkov: (any of: \.tf$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$
) or (any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$
)
  terraform-fmt: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-without-aggregate-type-defaults: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-replace: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-validate: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tflint: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tfsec: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terragrunt-fmt: any of: (\.hcl)$, but not: \.terraform\/.*$
  terragrunt-validate: any of: (\.hcl)$, but not: (?x)^(
  .+\.tflint.hcl$|
  .+\vendor\/.*$|
  .+\.terraform\/.*$|
)$

  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  golint: any of: \.go$
  gocyclo: any of: \.go$
  validate-toml: any of: \.toml$
  no-go-testing: any of: test_.*\.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-mod-tidy: any of: \.go$
  go-mod-vendor: any of: \.go$
  hadolint: any of: Dockerfile(.*)
  docker-compose-check: any of: docker-compose.y[a]{0,1}ml$
