Repository hadenlabs/pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-link-check, eslint, stylint, checkov, terraform-fmt, terraform-docs, terraform-docs-without-aggregate-type-defaults, terraform-docs-replace, terraform-validate, terraform-tflint, terraform-tfsec, terragrunt-fmt, terragrunt-validate, go-fmt, go-imports, go-vet, golint, gocyclo, validate-toml, no-go-testing, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor, hadolint, docker-compose-check

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

markdown-link-check:
  name: markdown-link-check
  description: Markdown-link-check checks all of the hyperlinks in a markdown text to determine if they are alive or dead.
  entry: pre_commit_hooks/markdown/markdown-link-check.sh
  language: script
  args: []
  minimum_pre_commit_version: 0.15.0

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

stylint:
  name: stylint
  language: system
  pass_filenames: true
  entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
  args:
  - --fix

checkov:
  name: Checkov
  description: Runs checkov on Terraform templates.
  entry: pre_commit_hooks/terraform/checkov.sh
  language: script
  pass_filenames: true
  require_serial: true
  always_run: false
  minimum_pre_commit_version: 0.15.0

terraform-fmt:
  name: Terraform fmt
  description: Rewrites all Terraform configuration files to a canonical format.
  entry: pre_commit_hooks/terraform/terraform_fmt.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs:
  name: Terraform docs
  description: Inserts input and output documentation into README.md (using terraform-docs).
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs-without-aggregate-type-defaults:
  name: Terraform docs (without aggregate type defaults)
  description: Inserts input and output documentation into README.md (using terraform-docs). Identical to terraform_docs.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-docs-replace:
  name: Terraform docs (overwrite README.md)
  description: Overwrite content of README.md with terraform-docs.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_docs_replace
  language: python
  minimum_pre_commit_version: 0.15.0

terraform-validate:
  name: Terraform validate
  description: Validates all Terraform configuration files.
  require_serial: true
  entry: pre_commit_hooks/terraform/terraform_validate.sh
  language: script
  minimum_pre_commit_version: 0.15.0

terraform-tflint:
  name: Terraform validate with tflint
  description: Validates all Terraform configuration files with TFLint.
  entry: pre_commit_hooks/terraform/terraform_tflint.sh
  require_serial: true
  language: script
  minimum_pre_commit_version: 0.15.0

go-fmt:
  name: go fmt
  description: Test go files with `gofmt`
  entry: pre_commit_hooks/go/go-fmt.sh
  language: script

fix: sync hooks git (#48)
  Makefile
  provision/make/git.mk
Due: none

build: upgrade dependences node (#48)
  package.json
Due: prettier

chore: implement link markdown (#48)
  .github/linters/markdown-link-config.json
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pre_commit_hooks/markdown/markdown-link-check.sh
Due: prettier

refactor: generator readme (#48)
  provision/generators/README.yaml
  provision/templates/README.tpl.md
Due: prettier, markdown-link-check

build: generate files (#48)
  README.md
  yarn.lock
Due: prettier, markdown-link-check

sample: implement markdown config (#48)
  docs/examples/common.md
Due: prettier, markdown-link-check

build: generate files documentation (#48)
  README.md
Due: prettier, markdown-link-check

feat: upgrade version hooks pre-commit (#51)
  .pre-commit-config.yaml
Due: prettier

chore: implement arguments for git leaks (#51)
  .pre-commit-hooks.yaml
  pre_commit_hooks/git/gitleaks.sh
Due: prettier

chore: implement hadolint docker (#54)
  Dockerfile
  test/builder/docker_pre_commit_hooks_build_test.go
Due: go-fmt, go-imports, go-vet, golint, gocyclo, golangci-lint, go-critic, go-mod-tidy, go-mod-vendor, hadolint

chore: clean node and packages (#54)
  .editorconfig
  .pre-commit-config.yaml
  .tmuxinator.yml
  Makefile
  package.json
  setup.cfg
  yarn.lock
Due: prettier

refactor: actions lints code (#54)
  .github/linters/.gitleaks.toml
  .github/linters/.prettierignore
  .github/workflows/release.yml
  provision/make/python.mk
Due: prettier, validate-toml

fix: links missing in readme (#54)
  provision/generators/README.yaml
Due: prettier

fix: links missing broken (#54)
  provision/generators/README.yaml
Due: prettier

build: generate files (#54)
  .gitignore
  README.md
Due: prettier, markdown-link-check

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  markdown-link-check: (any of: \.md$, but not: (?x)^(
  .+\.tpl.md$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$
) or (any of: \.md$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$
)
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
  checkov: (any of: \.tf$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$
) or (any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$
)
  terraform-fmt: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-without-aggregate-type-defaults: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-docs-replace: any of: (\.tf)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-validate: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tflint: any of: (\.tf|\.tfvars)$, but not: (?x)^(
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terraform-tfsec: any of: \.tf$, but not: (?x)^(
  .+\.node_modules\/.*$|
  .+\.vendor\/.*$|
  .+\.terraform\/.*$|
)$

  terragrunt-fmt: any of: (\.hcl)$, but not: \.terraform\/.*$
  terragrunt-validate: any of: (\.hcl)$, but not: (?x)^(
  .+\.tflint.hcl$|
  .+\vendor\/.*$|
  .+\.terraform\/.*$|
)$

  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  golint: any of: \.go$
  gocyclo: any of: \.go$
  validate-toml: any of: \.toml$
  no-go-testing: any of: test_.*\.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-mod-tidy: any of: \.go$
  go-mod-vendor: any of: \.go$
  hadolint: any of: Dockerfile(.*)
  docker-compose-check: any of: docker-compose.y[a]{0,1}ml$
